.table-container {
    /*display: grid;*/
    /*grid-template-columns: 500px;*/
    /*justify-content: center;*/
    /*margin-top: 50px;*/

    display: flex;
<<<<<<< HEAD
   flex-direction: column;
=======
    flex-direction: column;
>>>>>>> 537f835d3531ff173b75b20e4bfd8c174410e7b5
    justify-content: center;
    align-items: baseline;
}

.table-empty {
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
    font-style: oblique;
}

.styled-table {
    table-layout: fixed;
}